
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eticaret Admin Girişi</title>
</head>
<body>
    <div> 
        @Html.Label("Email")
        @Html.TextBox("Sifre")
    </div>
</body>
</html>
